.about {

  #hero {
    background: transparent url('/images/about-hero.jpg') no-repeat center !important;
    background-size: cover !important;
  }

  h1 span {
    @include media($medium-screen-up) {
      display: block;
    }
  }
}
.timeline {
  position: relative;
  padding: 100px 0;
  list-style: none;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    width: 2px;
    margin-left: -1.5px;
    background-color: lighten($light-gray, 7);;
  }
  > li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
    &:before {
      content: " ";
      display: table;
    }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }
    .timeline-panel {
      float: right;
      position: relative;
      width: 100%;
      padding: 0 0 20px 120px;
      text-align: left;
      &:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      &:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }
    .timeline-image {
      z-index: 100;
      position: absolute;
      left: 0;
      width: 100px;
      height: 100px;
      margin-left: 0;
      border: 7px solid lighten($light-gray, 2);;
      border-radius: 100%;
      text-align: center;
      color: #fff;
      background-color: #868835;
      h3 {
        margin-top: 12px;
        font-size: 10px;
        line-height: 14px;
      }
    }
    &.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 0 20px 120px;
      text-align: left;
      &:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
      }
      &:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .timeline-heading h3 {
    margin-top: 0;
    color: inherit;
    &.subheading {
      text-transform: none;
    }
  }
  .timeline-body > {
    ul {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 768px) {
  .timeline {
    &:before {
      left: 50%;
    }
    > li {
      margin-bottom: 100px;
      min-height: 100px;
      .timeline-panel {
        float: left;
        padding: 0 50px 20px 0;
        width: 41%;
        text-align: right;
      }
      .timeline-image {
        left: 50%;
        width: 160px;
        height: 160px;
        margin-left: -80px;
        h3 {
          margin-top: 16px;
          font-size: 13px;
          line-height: 18px;
        }
      }
      &.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 0 20px 50px;
        text-align: left;
      }
    }
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
    .timeline-image {
      width: 230px;
      height: 230px;
      margin-left: -115px;
      h3 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
      }
    }
    .timeline-panel {
      padding: 0 80px 20px 0;
    }
    &.timeline-inverted > .timeline-panel {
      padding: 0 0 20px 80px;
    }
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
    .timeline-image {
      width: 260px;
      height: 260px;
      margin-left: -130px;
      h3 {
        margin-top: 40px;
      }
    }
    .timeline-panel {
      padding: 0 100px 20px 0;
    }
    &.timeline-inverted > .timeline-panel {
      padding: 0 0 20px 100px;
    }
  }
}
