.contact {

  #map-contact {
    height: 300px;
  }

  select.territory {
    background: #F5F7FA;
    color: #506A85;
    cursor: pointer;
    width: 100%;
  }

  .contact-info {
    color: white;

    &:last-child,
    &.phone {
      display: block;
    }
  }

  .thumbs .thumb .text-overlay {
    background: rgba($green, .9);
    word-break: break-word;
  }

  .team-headline.sidelines {
    margin-bottom: 20px;

    & + p {
      margin-bottom: 40px;
    }
  }

  blockquote:before {
    display: none;
  }
}
