.homepage {
  #hero .item:before {
    background: rgba(20,20,10, 0.75);
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  #hero .btn-large {
    font-weight: bold;
  }

  #who-we-are {
    .icon i.icn {
      color: #868835;
    }
  }

  .clients {
    overflow: hidden;
    padding: 40px;
  }

  .count {
    font-size: 5em;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 0;
  }

  .count-label {
    font-size: .5em;
    letter-spacing: .5em;
    text-transform: uppercase;
  }
}
