.suppliers {

  #hero {
    background: url('/images/suppliers-hero.jpg') no-repeat center;
    background-size: cover;

    &.tint-bg.img-bg-soft:before {
      background-color: #868835;
    }

    h1 {
      text-transform: initial;
      max-width: 900px;
      text-align: center;
      float: right;

      @include media($medium-screen-up) {
        text-align: right;

        span {
          display: block;
        }
      }

    }
  }

  p {
    margin-left: 1.5em;
  }

  .contacts {
    margin-bottom: 3em;
  }

  .icon-location {
    float: left;
    margin-top: 0.3em;
  }
}
