/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/            => Sass extends declarations
 * /mixins/             => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss          => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss        => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _component_name.scss => Styles for a component of functionality (e.g. – modal).
 * _page_name.scss      => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

#get-started .btn-green{
  margin-top: 0;
  padding: 12px 24px;
  background: #117156;

  &:hover, &:focus, &:active, &.active {
    background: lighten(#117156, 10);
  }
}

.footer-bottom {
  background-color: darken(#868835, 10) !important;

  p, ul, li, a {
    color: #868835 !important;
  }

  a:hover {
    color: lighten(#868835, 10) !important;
  }
}

// Google maps bug fix
.gm-style-iw > div:first-child {
  overflow: visible !important;
  width: auto !important;

  & > div:first-child {
    overflow: visible !important;
    width: auto !important;
  }
}
