<!-- ============================================================= SECTION – CTA BAND ============================================================= -->

<section id="get-started" class="tint-bg">
  <div class="container inner-sm">
    <div class="row">
      <div class="col-sm-11 center-block text-center">
        <h1 class="single-block">Talk to a human. <a href="/contact" class="btn btn-large btn-green">Get in touch here</a></h1>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
