<!-- ============================================================= HEADER ============================================================= -->

<header>
  <div class="navbar">

    <div class="navbar-header">
      <div class="container">

        <!-- ============================================================= LOGO MOBILE ============================================================= -->

        <a class="navbar-brand" href="/"><img src="/images/logo.svg" class="logo" alt=""></a>

        <!-- ============================================================= LOGO MOBILE : END ============================================================= -->

        <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>

      </div><!-- /.container -->
    </div><!-- /.navbar-header -->

    <div class="yamm">
      <div class="navbar-collapse collapse" data-0="padding-top: 30px;padding-bottom: 30px;-webkit-box-shadow: 0 10px 10px rgba(0,0,0,0);   -moz-box-shadow: 0 10px 10px rgba(0,0,0,0.0);box-shadow: 0 10px 10px rgba(0,0,0,0);" data-300="padding-top: 0;padding-bottom: 0;-webkit-box-shadow: 0 10px 10px rgba(0,0,0,0.1);   -moz-box-shadow: 0 10px 10px rgba(0,0,0,0.1);box-shadow: 0 10px 10px rgba(0,0,0,0.1);">
        <div class="container">

          <!-- ============================================================= LOGO ============================================================= -->

          <a class="navbar-brand" href="/"><img src="/images/logo.svg" class="logo" alt="Cincinnati Mine Machinery Co." data-0="max-height: 80px; min-height: 80px;" data-300="max-height: 50px; min-height: 50px;"></a>

          <!-- ============================================================= LOGO : END ============================================================= -->


          <!-- ============================================================= MAIN NAVIGATION ============================================================= -->

          <ul class="nav navbar-nav" data-0="padding-top: 22px;" data-300="padding-top: 0;">

            <li class="dropdown">
              <a class="dropdown-toggle js-activated" href="#">Products</a>

              <ul class="dropdown-menu">
                <li><a href="/products">All Products</a></li>
                <li><a href="/products/borer-miner-products">Borer Miner Products</a></li>
                <li><a href="/products/continuous-miner-products">Continuous Miner Products</a></li>
                <li><a href="/products/cutter-bars-chains-products">Cutter Bars &amp; Chains</a></li>
                <li><a href="/products/highwall-miner-products">Highwall Miner Products</a></li>
                <li><a href="/products/roof-bolter-products">Roof Bolter Products</a></li>
                <li><a href="/products/shuttle-car-products">Shuttle Car Products</a></li>
              </ul><!-- /.dropdown-menu -->
            </li><!-- /.dropdown -->

            <li class="dropdown">
              <a href="/suppliers">Suppliers</a>
            </li><!-- /.dropdown -->

            <li class="dropdown">
              <a href="/about">About</a>
            </li><!-- /.dropdown -->

            <li class="dropdown">
              <a href="/contact" class="btn btn-large btn-green">Contact Us</a>
            </li><!-- /.dropdown -->

          </ul><!-- /.nav -->

          <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->

        </div><!-- /.container -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.yamm -->
  </div><!-- /.navbar -->
</header>
