<!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->

      <section id="who-we-are">
        <div class="container inner-md">
          <div class="row inner-top-xs">

            <div class="col-sm-6 inner-right-xs inner-bottom-xs">
              <h2>Who we are</h2>
              <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo.</p>
            </div><!-- /.col -->

            <div class="col-sm-6 inner-left-xs inner-bottom-xs">
              <h2>What we do</h2>
              <p>Laceaque quiae sitiorem rest non restibusaes es tumquam core posaeremni volor remped modis volor. Doloreiur qui commolu dolor oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo. Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor.</p>
            </div><!-- /.col -->

          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>
