<!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->

<div class="col-md-8 inner-right inner-bottom-md">

  <section id="contact-form">

    <h2>Have a general inquiry?</h2>

    <form id="contactform" class="forms" action="http://formspree.io/sales@cinmine.com" method="post">

      <input type="hidden" name="_next" value="/thanks" />
      <input type="text" name="_gotcha" style="display:none" />

      <div class="row">
        <div class="col-sm-6">
          <input type="text" name="name" class="form-control" placeholder="Name (Required)">
        </div><!-- /.col -->
        <div class="col-sm-6">
          <input type="email" name="_replyto" class="form-control" placeholder="Email (Required)">
        </div><!-- /.col -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col-sm-12">
          <input type="text" name="_subject" class="form-control" placeholder="Subject">
        </div><!-- /.col -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col-sm-12">
          <textarea name="body" class="form-control" placeholder="Enter your message ..."></textarea>
        </div><!-- /.col -->
      </div><!-- /.row -->

      <button type="submit" class="btn btn-default btn-submit btn-large btn-green" value="send">Submit message</button>

    </form>

    <div id="response"></div>

  </section>

  <div class="row">

    <div class="col-sm-6 inner-top">
      <figure>
        <img src="/images/mgmt-team.jpg" alt="Our Management Team">
        <figcaption>Names from left to right:  Bobby Stenger, Tony Stenger, Bill Stenger, Bob Stenger (President), Tim Jent, Randy Morris, and Ron Paolello.</figcaption>
      </figure>
    </div><!-- /.col -->

    <div class="col-sm-6 inner-top">
      <blockquote>
        <p>Our Mission is to exceed our customers' expectations. Through continuous improvement, innovative thinking and time-honored values, we deliver quality, reliability and superior performance. We are THE STRONGEST LINK™ in the mining industry.</p>
      </blockquote>
    </div><!-- /.col -->

  </div><!-- /.row -->

</div><!-- ./col -->
