<!-- ============================================================= SECTION – CONTACT PEOPLE ============================================================= -->

<div class="col-md-4">

  <section id="contact-names" class="light-bg inner-xs inner-left-xs inner-right-xs">

    <h3 class="team-headline sidelines text-center"><span>Looking for someone?</span></h3>

    <div class="row thumbs gap-md text-center">

      <div class="col-sm-6 thumb">
        <figure class="member">

          <div class="member-image">

            <div class="text-overlay">
              <div class="info">
                <a href="mailto:ron@cinmine.com" class="contact-info">ron@cinmine.com</a>
                <a href="tel:+15137284040" class="phone contact-info">Work: 513-728-4040</a>
                <a href="tel:+15132569881" class="phone contact-info">Cell: 513-256-9881</a>
              </div><!-- /.info -->
            </div><!-- /.text-overlay -->

            <img src="/images/people/ron.jpg">

          </div><!-- /.member-image -->

          <figcaption class="member-details bordered no-top-border">
            <h3>
              Ron Paolello
              <span>General Manager</span>
            </h3>
          </figcaption>

        </figure>
      </div><!-- /.col -->

      <div class="col-sm-6 thumb">
        <figure class="member">

          <div class="member-image">

            <div class="text-overlay">
              <div class="info">
                <a href="mailto:rcstenger@cinmine.com" class="contact-info">rcstenger@cinmine.com</a>
                <a href="tel:+15137284040" class="phone contact-info">Work: 513-728-4040</a>
                <a href="tel:+15132569890" class="phone contact-info">Cell: 513-256-9890</a>
              </div><!-- /.info -->
            </div><!-- /.text-overlay -->

            <img src="/images/people/bobby.jpg">

          </div><!-- /.member-image -->

          <figcaption class="member-details bordered no-top-border">
            <h3>
              Robert C. Stenger
              <span>Director of Sales and Marketing</span>
            </h3>
          </figcaption>

        </figure>
      </div><!-- /.col -->

    </div><!-- /.row -->

    <div class="row thumbs gap-md text-center">

      <div class="col-sm-6 thumb">
        <figure class="member">

          <div class="member-image">

            <div class="text-overlay">
              <div class="info">
                <a href="mailto:jbratcher@bellsouth.net" class="contact-info">jbratcher@bellsouth.net</a>
                <a href="tel:+15133747184" class="contact-info">513-374-7184</a>
              </div><!-- /.info -->
            </div><!-- /.text-overlay -->

            <img src="/images/people/jason.jpg">

          </div><!-- /.member-image -->

          <figcaption class="member-details bordered no-top-border">
            <h3>
              Jason Bratcher
              <span>West KY, Illinios, Indiana and West of the Mississippi Sales Rep</span>
            </h3>
          </figcaption>

        </figure>
      </div><!-- /.col -->

      <div class="col-sm-6 thumb">
        <figure class="member">

          <div class="member-image">

            <div class="text-overlay">
              <div class="info">
                <a href="mailto:nathanh3@verizon.net" class="contact-info">nathanh3@verizon.net</a>
                <a href="tel:+15132569883" class="contact-info">513-256-9883</a>
              </div><!-- /.info -->
            </div><!-- /.text-overlay -->

            <img src="/images/people/nathan.jpg">

          </div><!-- /.member-image -->

          <figcaption class="member-details bordered no-top-border">
            <h3>
              Nathan Hickman
              <span>West Virginia Sales Rep</span>
            </h3>
          </figcaption>

        </figure>
      </div><!-- /.col -->

    </div><!-- /.row -->

    <div class="row thumbs gap-md text-center">

      <div class="col-sm-6 thumb last-bottom">
        <figure class="member">

          <div class="member-image">

            <div class="text-overlay">
              <div class="info">
                <a href="mailto:paulls@horizonview.net" class="contact-info">paulls@horizonview.net</a>
                <a href="tel:+15132569884" class="contact-info">513-256-9884</a>
              </div><!-- /.info -->
            </div><!-- /.text-overlay -->

            <img src="/images/people/paul.jpg">

          </div><!-- /.member-image -->

          <figcaption class="member-details bordered no-top-border">
            <h3>
              Paul Saunders
              <span>Ohio, Pennsylvania and Northern WV Sales Rep</span>
            </h3>
          </figcaption>

        </figure>
      </div><!-- /.col -->

      <div class="col-sm-6 thumb last-bottom">
        <figure class="member">

          <div class="member-image">

            <div class="text-overlay">
              <div class="info">
                <a href="mailto:clarksen@hotmail.com" class="contact-info">clarksen@hotmail.com</a>
                <a href="tel:+15132569882" class="contact-info">513-256-9882</a>
              </div><!-- /.info -->
            </div><!-- /.text-overlay -->

            <img src="/images/people/kevin.jpg">

          </div><!-- /.member-image -->

          <figcaption class="member-details bordered no-top-border">
            <h3>
              Kevin Clark
              <span>East Kentucky and Virginia Sales Rep</span>
            </h3>
          </figcaption>

        </figure>
      </div><!-- /.col -->

    </div><!-- /.row -->

  </section>

</div><!-- /.col -->
