<!-- ============================================================= SECTION – CONTACT PEOPLE ============================================================= -->

<div class="col-md-4">

  <section id="contact-names" class="light-bg inner-xs inner-left-xs inner-right-xs">

    <h3 class="team-headline sidelines text-center"><span>Looking for someone?</span></h3>

    <div class="row thumbs gap-md text-center">

      <div class="col-sm-6 thumb">
        <figure class="member">

          <div class="member-image">

            <div class="text-overlay">
              <div class="info">
                <a href="mailto:ron@cinmine.com" class="contact-info">ron@cinmine.com</a>
                <a href="tel:+15137284040" class="contact-info">513-728-4040</a>
              </div><!-- /.info -->
            </div><!-- /.text-overlay -->

            <img src="/images/people/portriat.png">

          </div><!-- /.member-image -->

          <figcaption class="member-details bordered no-top-border">
            <h3>
              John Smith
              <span>General Manager</span>
            </h3>
          </figcaption>

        </figure>
      </div><!-- /.col -->

      <div class="col-sm-6 thumb">
        <figure class="member">

          <div class="member-image">

            <div class="text-overlay">
              <div class="info">
                <a href="mailto:ron@cinmine.com" class="contact-info">ron@cinmine.com</a>
                <a href="tel:+15137284040" class="contact-info">513-728-4040</a>
              </div><!-- /.info -->
            </div><!-- /.text-overlay -->

            <img src="/images/people/portriat.png">

          </div><!-- /.member-image -->

          <figcaption class="member-details bordered no-top-border">
            <h3>
              John Smith
              <span>General Manager</span>
            </h3>
          </figcaption>

        </figure>
      </div><!-- /.col -->

    </div><!-- /.row -->

    <div class="row thumbs gap-md text-center">

      <div class="col-sm-6 thumb last-bottom">
        <figure class="member">

          <div class="member-image">

            <div class="text-overlay">
              <div class="info">
                <a href="mailto:ron@cinmine.com" class="contact-info">ron@cinmine.com</a>
                <a href="tel:+15137284040" class="contact-info">513-728-4040</a>
              </div><!-- /.info -->
            </div><!-- /.text-overlay -->

            <img src="/images/people/portriat.png">

          </div><!-- /.member-image -->

          <figcaption class="member-details bordered no-top-border">
            <h3>
              John Smith
              <span>General Manager</span>
            </h3>
          </figcaption>

        </figure>
      </div><!-- /.col -->

      <div class="col-sm-6 thumb last-bottom">
        <figure class="member">

          <div class="member-image">

            <div class="text-overlay">
              <div class="info">
                <a href="mailto:ron@cinmine.com" class="contact-info">ron@cinmine.com</a>
                <a href="tel:+15137284040" class="contact-info">513-728-4040</a>
              </div><!-- /.info -->
            </div><!-- /.text-overlay -->

            <img src="/images/people/portriat.png">

          </div><!-- /.member-image -->

          <figcaption class="member-details bordered no-top-border">
            <h3>
              John Smith
              <span>General Manager</span>
            </h3>
          </figcaption>

        </figure>
      </div><!-- /.col -->

    </div><!-- /.row -->

  </section>

</div><!-- /.col -->
