<!-- ============================================================= SECTION – CLIENTS ============================================================= -->

<section id="carousels" class="light-bg clients">
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-sm-9 center-block text-center">
        <header>
          <h3>Look at our numbers.</h3>
        </header>
      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row">
      <div class="col-sm-12">
        <div id="owl-videos" class="owl-carousel owl-outer-nav owl-ui-md owl-item-gap">

          <div class="item">
            <p class="count">93</p>
            <p class="count-label">description</p>
          </div><!-- /.item -->

          <div class="item">
            <p class="count">87</p>
            <p class="count-label">description</p>
          </div><!-- /.item -->

          <div class="item">
            <p class="count">14</p>
            <p class="count-label">description</p>
          </div><!-- /.item -->

          <div class="item">
            <p class="count">32</p>
            <p class="count-label">description</p>
          </div><!-- /.item -->

          <div class="item">
            <p class="count">108</p>
            <p class="count-label">description</p>
          </div><!-- /.item -->

        </div><!-- /.owl-carousel -->
      </div><!-- /.col -->
    </div><!-- /.row -->

  </div><!-- /.container -->
</section>
