<!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->

<section id="who-we-are">
  <div class="container inner-top inner-bottom-sm">

    <div class="row">
      <div class="col-md-8 col-sm-9 center-block text-center">
        <header>
          <h1>THE STRONGEST LINK.</h1>
          <p class="text-small">Our Mission is to exceed our customers' expectations. Through continuous improvement, innovative thinking and time-honored values, we deliver quality, reliability and superior performance. With our people, partners and products, we are THE STRONGEST LINK™ in the mining industry.</p>
        </header>
      </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="row inner-top-sm text-center">

      <div class="col-sm-4 inner-bottom-xs">
        <div class="icon">
          <i class="icon-star-empty-1 icn"></i>
        </div><!-- /.icon -->
        <h2>Quality</h2>
        <p class="text-small">Our core values are established on the ability to deliver high quality products and services to our customers. This is both a philosophy and a set of guiding principles which represent the Cincinnati Mine Machinery Company. Establishing true quality is more than documentation of deviations, it is a mentality, a desire in all of us to produce products efficiently while continually improving.</p>
      </div><!-- /.col -->

      <div class="col-sm-4 inner-bottom-xs">
        <div class="icon">
          <i class="icon-tools icn"></i>
        </div><!-- /.icon -->
        <h2>Reliability</h2>
        <p class="text-small">In making decisions, we must recognize that our customer’s judge us not on our selling price alone, but the life achieved on our products. We strive for our customers to rely on our products, and just as importantly, rely on us as well. A true partnership requires a long-term relationship with our customers and we are excited to work with them to help improve productivity and reduce their costs.</p>
      </div><!-- /.col -->

      <div class="col-sm-4 inner-bottom-xs">
        <div class="icon">
          <i class="icon-award icn"></i>
        </div><!-- /.icon -->
        <h2>Service</h2>
        <p class="text-small">Being aware of our customer’s needs is the foundation of Service. By working together, we can complement your capabilities, provide a fresh and different perspective and help achieve maximum success. We have established long term relationships with our customers by being there throughout the entire process, planning, installation and support. No matter the size of the problem, we are always available.</p>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
