<!-- ============================================================= SECTION – MORE PRODUCTS ============================================================= -->

<section id="more-works">
  <div class="container inner-top-sm inner-bottom">
    <div class="row">
      <div class="col-sm-12">
        <div id="accordion" class="panel-group blank">
          <div class="panel panel-default">

            <div class="panel-heading text-center">
              <h4 class="panel-title">
                <a id="more-products" class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#content">
                  <span>More products</span>
                </a>
              </h4>
            </div><!-- /.panel-heading -->

            <div id="content" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="portfolio">

                  {% include products-filter.html %}

                </div><!-- /.portfolio -->
              </div><!-- /.panel-body -->
            </div><!-- /.content -->

          </div><!-- /.panel -->
        </div><!-- /.accordion -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
