<div class="container inner">
  <div class="row">

    <div class="col-sm-6 inner-right-xs text-right">
      <figure><img src="/images/products/product-hero.png" alt="chains image"></figure>
    </div><!-- /.col -->

    <div class="col-sm-6 inner-top-xs inner-left-xs">
      <h2>Cutter Bars &amp; Chains</h2>
      <p>The Cincinnati Mine Machinery Company has been a key innovator in this field of conventional mining. Our Sales and Engineering teams over the years have patented many cutter chains and cutter bars for various applications. Working in salt, gypsum, coal and railway undercutting we can provide a solution to your application. Please give us a call to find a solution to improve your productivity.</p>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
