<div class="container inner">
  <div class="row">

    <div class="col-sm-6 inner-right-xs text-right">
      <figure><img src="/images/products/cc-416.png" alt="chains image"></figure>
    </div><!-- /.col -->

    <div class="col-sm-6 inner-top-xs inner-left-xs">
      <h2>Roof Bolter Products</h2>
      <p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam. Eumenis et consent accullignis dentibea autem inisita posae volor conecus resto explabo.</p>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
