<ul class="filter text-center">
  <li><a href="#" data-filter="*" class="active">Show All Categories</a></li>
  <li><a href="#" data-filter=".conveyor-chains">Conveyor Chains</a></li>
</ul><!-- /.filter -->

<ul class="items col-3 gap">

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/da-5504-h/"><img src="/images/products/da-5504-h.png" alt="DA-5504-H"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/da-5504-h/">DA-5504-H</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/da-5504-t/"><img src="/images/products/da-5504-t.png" alt="DA-5504-T"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/da-5504-t/">DA-5504-T</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->
</ul><!-- /.items -->
