<ul class="filter text-center">
  <li><a href="#" data-filter="*" class="active">Show All Categories</a></li>
  <li><a href="#" data-filter=".cutter-chains">Cutter Chains</a></li>
  <li><a href="#" data-filter=".cutter-bars">Cutter Bars</a></li>
</ul><!-- /.filter -->

<ul class="items col-3 gap">

  <li class="item thumb cutter-bars">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/dwg1/"><img src="/images/products/dwg1.png" alt="Dwg1"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/dwg1/">Dwg1</a></h4>
          <p>Cutter Bars</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb cutter-bars">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/dwg2/"><img src="/images/products/dwg2.png" alt="Dwg2"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/dwg2/">Dwg2</a></h4>
          <p>Cutter Bars</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb cutter-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/dwg3/"><img src="/images/products/dwg3.png" alt="Dwg3"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/dwg3/">Dwg3</a></h4>
          <p>Cutter Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb cutter-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/dwg4/"><img src="/images/products/dwg4.png" alt="Dwg4"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/dwg4/">Dwg4</a></h4>
          <p>Cutter Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->
</ul><!-- /.items -->
