<div class="container inner">
  <div class="row">

    <div class="col-sm-6 inner-right-xs text-right">
      <figure><img src="/images/products/lc-525-35.png" alt="chains image"></figure>
    </div><!-- /.col -->

    <div class="col-sm-6 inner-top-xs inner-left-xs">
      <h2>Borer Miner Products</h2>
      <p>The Cincinnati Mine Machinery Company has worked for over 60 years in this specialized equipment market. These days Borer Miners are utilized for the production of Potash and Trona. In both applications products need to be rugged and durable to allow the end user to get the best life possible. Reliability is our strength along with our distributors in these markets, Bit Services LTD and Bookcliff Sales.</p>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
