<div class="container inner">
  <div class="row">

    <div class="col-sm-6 inner-right-xs text-right">
      <figure><img src="/images/products/continuous-miner-hero.jpg" alt="chains image"></figure>
    </div><!-- /.col -->

    <div class="col-sm-6 inner-top-xs inner-left-xs">
      <h2>Continuous Miner Products</h2>
      <p>The Cincinnati Mine Machinery company is a key chain supplier of conveyor, crawler and ripper chains for many Original Equipment Manufacturers around the world. We make the strongest, most reliable conveyor chain that can be fitted to ALL continuous miners, to reduce your downtime providing you the lowest cost per ton. Cincinnati Mine has patented many conveyor chains and was the first to introduce the dual sprocket conveyor chain in the year of 2000. Call Cincinnati Mine for a chain to fit your machine.</p>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
