<div class="container inner">
  <div class="row">

    <div class="col-sm-6 inner-right-xs text-right">
      <figure><img src="/images/products/da-5504-t.png" alt="chains image"></figure>
    </div><!-- /.col -->

    <div class="col-sm-6 inner-top-xs inner-left-xs">
      <h2>Shuttle Car Products</h2>
      <p>Cincinnati Mine Machinery Company can supply your shuttle car with the dual strand continuous miner conveyor chain to gain reliability and lower your cost per ton.</p>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
