<div class="container inner">
  <div class="row">

    <div class="col-sm-6 inner-right-xs text-right">
      <figure><img src="/images/products/highwall-miner-hero.jpg" alt="chains image"></figure>
    </div><!-- /.col -->

    <div class="col-sm-6 inner-top-xs inner-left-xs">
      <h2>Highwall Miner Products</h2>
      <p>The Cincinnati Mine Machinery Company has worked with all of the innovators of this mining technology. In developing cutter drive chains, sprockets and belly conveyor chains we can help you gain productivity. We have several different chain lacing cut patterns to suite you application. Give us a call for more details.</p>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
