<ul class="filter text-center">
  <li><a href="#" data-filter="*" class="active">Show All Categories</a></li>
  <li><a href="#" data-filter=".conveyor-chains">Conveyor Chains</a></li>
  <li><a href="#" data-filter=".crawler-chains">Crawler Chains</a></li>
  <li><a href="#" data-filter=".footshaft-assemblies">Footshaft Assemblies</a></li>
  <li><a href="#" data-filter=".bit-holders">Bit Holders</a></li>
  <li><a href="#" data-filter=".ripper-chains">Ripper Chains</a></li>
</ul><!-- /.filter -->

<ul class="items col-3 gap">

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/da-434/"><img src="/images/products/da-434.png" alt="da-434"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/da-434/">DA-434</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/da-515/"><img src="/images/products/da-515.png" alt="da-515"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/da-515/">DA-515</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/da-550/"><img src="/images/products/da-550.png" alt="da-550"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/da-550/">DA-550</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/da-350/"><img src="/images/products/da-350.png" alt="da-350"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/da-350/">DA-350</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/da-615/"><img src="/images/products/da-615.png" alt="da-615"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/da-615/">DA-615</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb crawler-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/cc-518/"><img src="/images/products/cc-518.png" alt="cc-518"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/cc-518/">CC-518</a></h4>
          <p>Crawler Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb crawler-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/cc-720/"><img src="/images/products/cc-720.png" alt="cc-720"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/cc-720/">CC-720</a></h4>
          <p>Crawler Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb crawler-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/cc-722/"><img src="/images/products/cc-722.png" alt="cc-722"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/cc-722/">CC-722</a></h4>
          <p>Crawler Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb crawler-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/cc-620/"><img src="/images/products/cc-620.png" alt="cc-620"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/cc-620/">CC-620</a></h4>
          <p>Crawler Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb footshaft-assemblies">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/350-shaft-kit/"><img src="/images/products/350-shaft-kit.png" alt="Stub Shaft Kit 350"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/350-shaft-kit/">Stub Shaft Kit 350</a></h4>
          <p>Footshaft Kits</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb footshaft-assemblies">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/550-shaft-kit/"><img src="/images/products/550-shaft-kit.png" alt="Stub Shaft Kit 550"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/550-shaft-kit/">Stub Shaft Kit 550</a></h4>
          <p>Footshaft Kits</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb footshaft-assemblies">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/550-footshaft-kit/"><img src="/images/products/550-footshaft-kit.png" alt="CAT 550"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/550-footshaft-kit/">CAT 550</a></h4>
          <p>Footshaft Kits</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb footshaft-assemblies">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/350-footshaft-kit/"><img src="/images/products/350-footshaft-kit.png" alt="CAT 350"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/350-footshaft-kit/">CAT 350</a></h4>
          <p>Footshaft Kits</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb bit-holders">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/c-13138/"><img src="/images/products/c-13138.png" alt="C-13138 Heavy Duty Weld-on"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/c-13138/">C-13138 Heavy Duty Weld-on</a></h4>
          <p>Bit Holders</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb bit-holders">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/c-13276/"><img src="/images/products/c-13276.png" alt="C-13276 Cone-Lok"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/c-13276/">C-13276 Cone-Lok</a></h4>
          <p>Bit Holders</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb ripper-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/838/"><img src="/images/products/838.png" alt="838"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/838/">838</a></h4>
          <p>Ripper Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb ripper-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/810/"><img src="/images/products/810.png" alt="810"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/810/">810</a></h4>
          <p>Ripper Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->
</ul><!-- /.items -->
