<div class="container inner-bottom">
  <div class="row">
    <div class="col-sm-12 portfolio">

      <ul class="filter text-center">
        <li><a href="#" data-filter="*" class="active">Show All Categories</a></li>
        <li><a href="#" data-filter=".conveyor-chains">Conveyor Chains</a></li>
        <li><a href="#" data-filter=".footshaft-kits">Footshaft Kits</a></li>
        <li><a href="#" data-filter=".crawler-chains">Crawler Chains</a></li>
        <li><a href="#" data-filter=".highwall-miner-products">Highwall Miner Products</a></li>
        <li><a href="#" data-filter=".ripper-chains">Ripper Chains</a></li>
        <li><a href="#" data-filter=".borer-miner-products">Borer Miner Products</a></li>
        <li><a href="#" data-filter=".shuttle-car-products">Shuttle Car Products</a></li>
        <li><a href="#" data-filter=".cutter-chains">Cutter Chains</a></li>
        <li><a href="#" data-filter=".cutter-bars">Cutter Bars</a></li>
        <li><a href="#" data-filter=".bit-holders">Bit Holders</a></li>
      </ul><!-- /.filter -->

      <ul class="items col-3 gap">

        <li class="item thumb conveyor-chains">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">434</a></h4>
                <p>Conveyor Chains</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb conveyor-chains">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">350-Dual</a></h4>
                <p>Conveyor Chains</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb cutter-bars">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">Sample</a></h4>
                <p>Cutter Bars</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb conveyor-chains">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">515</a></h4>
                <p>Conveyor Chains</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb highwall-miner-products">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">7347-A</a></h4>
                <p>Highwall Miner Products</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb conveyor-chains">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">550</a></h4>
                <p>Conveyor Chains</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb borer-miner-products">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">5772</a></h4>
                <p>Borer Miner Products</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->


        <li class="item thumb borer-miner-products">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">5272</a></h4>
                <p>Borer Miner Products</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->


        <li class="item thumb borer-miner-products">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">5274</a></h4>
                <p>Borer Miner Products</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->


        <li class="item thumb borer-miner-products">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">Guides</a></h4>
                <p>Borer Miner Products</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->


        <li class="item thumb borer-miner-products">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">Lugs</a></h4>
                <p>Borer Miner Products</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->


        <li class="item thumb borer-miner-products">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">Sprockets</a></h4>
                <p>Borer Miner Products</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb ripper-chains">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">838</a></h4>
                <p>Ripper Chains</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb ripper-chains">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">810</a></h4>
                <p>Ripper Chains</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb conveyor-chains">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">615</a></h4>
                <p>Conveyor Chains</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb highwall-miner-products">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">7347-D</a></h4>
                <p>Highwall Miner Products</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb crawler-chains">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">416</a></h4>
                <p>Crawler Chains</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb crawler-chains">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">518</a></h4>
                <p>Crawler Chains</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb crawler-chains">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">622</a></h4>
                <p>Crawler Chains</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb crawler-chains">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">720</a></h4>
                <p>Crawler Chains</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb crawler-chains">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">722</a></h4>
                <p>Crawler Chains</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb crawler-chains">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">7M22</a></h4>
                <p>Crawler Chains</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb cutter-chains">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">190</a></h4>
                <p>Cutter Chains</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb cutter-chains">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">19045</a></h4>
                <p>Cutter Chains</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb highwall-miner-products">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">Sprockets</a></h4>
                <p>Highwall Miner Products</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb footshaft-kits">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">14273 with C-12029 &amp; C-14682</a></h4>
                <p>Footshaft Kits</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb footshaft-kits">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">CAT Kit C-14664 &amp; C-15092</a></h4>
                <p>Footshaft Kits</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb shuttle-car-products">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">DA-5504-H</a></h4>
                <p>Shuttle Car Products</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb shuttle-car-products">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">DA-5504-T</a></h4>
                <p>Shuttle Car Products</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

        <li class="item thumb highwall-miner-products">
          <figure>

            <div class="icon-overlay icn-link">
              <a href="/portfolio/515.html"><img src="/images/products/515.jpg" alt=""></a>
            </div><!-- /.icon-overlay -->

            <figcaption class="bordered no-top-border">
              <div class="info">
                <h4><a href="/portfolio/515.html">LC-5154-48</a></h4>
                <p>Highwall Miner Products</p>
              </div><!-- /.info -->
            </figcaption>

          </figure>
        </li><!-- /.item -->

      </ul><!-- /.items -->

    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
