<ul class="filter text-center">
  <li><a href="#" data-filter="*" class="active">Show All Categories</a></li>
  <li><a href="#" data-filter=".conveyor-chains">Conveyor Chains</a></li>
  <li><a href="#" data-filter=".sprockets">Sprockets</a></li>
  <li><a href="#" data-filter=".cutter-chains">Cutter Chains</a></li>
</ul><!-- /.filter -->

<ul class="items col-3 gap">

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/lc-5154-48-b/"><img src="/images/products/lc-5154-48-b.png" alt="LC-5154-48-B"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/lc-5154-48-b/">LC-5154-48-B</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/na-5154-mt/"><img src="/images/products/na-5154-mt.png" alt="NA-5154-MT"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/na-5154-mt/">NA-5154-MT</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb cutter-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/7347-a/"><img src="/images/products/7347-a.png" alt="7347-A"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/7347-a/">7347-A</a></h4>
          <p>Cutter Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb cutter-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/7347-d/"><img src="/images/products/7347-d.png" alt="7347-D"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/7347-d/">7347-D</a></h4>
          <p>Cutter Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb sprockets">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/7347-sprockets/"><img src="/images/products/7347-sprockets.png" alt="7347 12/13-tooth Sprockets"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/7347-sprockets/">7347 12/13-tooth Sprockets</a></h4>
          <p>Sprockets</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

</ul><!-- /.items -->
