<ul class="filter text-center">
  <li><a href="#" data-filter="*" class="active">Show All Categories</a></li>
  <li><a href="#" data-filter=".conveyor-chains">Conveyor Chains</a></li>
  <li><a href="#" data-filter=".trim-chains">Trim Chains</a></li>
  <li><a href="#" data-filter=".bit-holders">Bit Holders</a></li>
  <li><a href="#" data-filter=".guides">Guides</a></li>
  <li><a href="#" data-filter=".sprockets">Sprockets</a></li>
  <li><a href="#" data-filter=".cob-cutters">Cob Cutters</a></li>
</ul><!-- /.filter -->

<ul class="items col-3 gap">

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/lc-525-35/"><img src="/images/products/lc-525-35.png" alt="LC-525-35"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/lc-525-35/">LC-525-35</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb trim-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/5274/"><img src="/images/products/5274.png" alt="5274"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/5274/">5274</a></h4>
          <p>Trim Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb bit-holders">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/c-14172/"><img src="/images/products/c-14172.png" alt="C-14172"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/c-14172/">C-14172</a></h4>
          <p>Bit Holders</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb bit-holders">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/c-15081/"><img src="/images/products/c-15081.png" alt="C-15081"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/c-15081/">C-15081</a></h4>
          <p>Bit Holders</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb guides">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/various-guides/"><img src="/images/products/various-guides.png" alt="Various Guides"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/various-guides/">Various Guides</a></h4>
          <p>Guides</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->
</ul><!-- /.items -->
