<ul class="filter text-center">
  <li><a href="#" data-filter="*" class="active">Show All Categories</a></li>
  <li><a href="#" data-filter=".cutter-chains">Cutter Chains</a></li>
  <li><a href="#" data-filter=".cutter-bars">Cutter Bars</a></li>
</ul><!-- /.filter -->

<ul class="items col-3 gap">

  <li class="item thumb cutter-bars">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/38011-h/"><img src="/images/products/38011-h.png" alt="38011-H"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/38011-h/">38011-H</a></h4>
          <p>Cutter Bars</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb cutter-bars">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/38012-p-ta/"><img src="/images/products/38012-p-ta.png" alt="38012 P-TA"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/38012-p-ta/">38012 P-TA</a></h4>
          <p>Cutter Bars</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb cutter-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/19045/"><img src="/images/products/19045.png" alt="19045"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/19045/">19045</a></h4>
          <p>Cutter Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb cutter-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/190xs/"><img src="/images/products/190xs.png" alt="190XS"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/190xs/">190XS</a></h4>
          <p>Cutter Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->
</ul><!-- /.items -->
