<ul class="filter text-center">
  <li><a href="#" data-filter="*" class="active">Show All Categories</a></li>
  <li><a href="#" data-filter=".crawler-chains">Crawler Chains</a></li>
</ul><!-- /.filter -->

<ul class="items col-3 gap">

  <li class="item thumb crawler-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/cc-416/"><img src="/images/products/cc-416.png" alt="cc-416"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/cc-416/">CC-416</a></h4>
          <p>Crawler Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->
</ul><!-- /.items -->
