<div class="container inner">
  <div class="row">

    <div class="col-sm-6 inner-right-xs text-right">
      <figure><img src="/images/products/product-hero.png" alt="chains image"></figure>
    </div><!-- /.col -->

    <div class="col-sm-6 inner-top-xs inner-left-xs">
      <h2>Built Cincinnati Tough.</h2>
      <p>To those who place value on experience and premier quality, the Cincinnati Mine Machinery Company has developed solutions for cutting and conveying since 1924.  We are recognized world-wide for products that combine high performance, reliability and trouble free service life.  We provide the STRONGEST LINK to the mining industry.</p>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container -->
