<ul class="filter text-center">
  <li><a href="#" data-filter="*" class="active">Show All Categories</a></li>
  <li><a href="#" data-filter=".conveyor-chains">Conveyor Chains</a></li>
  <li><a href="#" data-filter=".footshaft-assemblies">Footshaft Assemblies</a></li>
  <li><a href="#" data-filter=".crawler-chains">Crawler Chains</a></li>
  <li><a href="#" data-filter=".sprockets">Sprockets</a></li>
  <li><a href="#" data-filter=".guides">Guides</a></li>
  <li><a href="#" data-filter=".ripper-chains">Ripper Chains</a></li>
  <li><a href="#" data-filter=".trim-chains">Trim Chains</a></li>
  <li><a href="#" data-filter=".cutter-chains">Cutter Chains</a></li>
  <li><a href="#" data-filter=".cutter-bars">Cutter Bars</a></li>
  <li><a href="#" data-filter=".bit-holders">Bit Holders</a></li>
</ul><!-- /.filter -->

<ul class="items col-3 gap">

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/da-434/"><img src="/images/products/da-434.png" alt="da-434"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/da-434/">DA-434</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/da-515/"><img src="/images/products/da-515.png" alt="da-515"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/da-515/">DA-515</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/da-550/"><img src="/images/products/da-550.png" alt="da-550"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/da-550/">DA-550</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/da-350/"><img src="/images/products/da-350.png" alt="da-350"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/da-350/">DA-350</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/da-615/"><img src="/images/products/da-615.png" alt="da-615"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/da-615/">DA-615</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb crawler-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/cc-518/"><img src="/images/products/cc-518.png" alt="cc-518"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/cc-518/">CC-518</a></h4>
          <p>Crawler Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb crawler-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/cc-720/"><img src="/images/products/cc-720.png" alt="cc-720"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/cc-720/">CC-720</a></h4>
          <p>Crawler Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb crawler-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/cc-722/"><img src="/images/products/cc-722.png" alt="cc-722"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/cc-722/">CC-722</a></h4>
          <p>Crawler Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb footshaft-assemblies">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/350-shaft-kit/"><img src="/images/products/350-shaft-kit.png" alt="Stub Shaft Kit 350"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/350-shaft-kit/">Stub Shaft Kit 350</a></h4>
          <p>Footshaft Kits</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb footshaft-assemblies">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/550-shaft-kit/"><img src="/images/products/550-shaft-kit.png" alt="Stub Shaft Kit 550"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/550-shaft-kit/">Stub Shaft Kit 550</a></h4>
          <p>Footshaft Kits</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb footshaft-assemblies">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/550-footshaft-kit/"><img src="/images/products/550-footshaft-kit.png" alt="CAT 550"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/550-footshaft-kit/">CAT 550</a></h4>
          <p>Footshaft Kits</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb footshaft-assemblies">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/350-footshaft-kit/"><img src="/images/products/350-footshaft-kit.png" alt="CAT 350"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/350-footshaft-kit/">CAT 350</a></h4>
          <p>Footshaft Kits</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb bit-holders">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/c-13138/"><img src="/images/products/c-13138.png" alt="C-13138 Heavy Duty Weld-on"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/c-13138/">C-13138 Heavy Duty Weld-on</a></h4>
          <p>Bit Holders</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb bit-holders">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/c-13276/"><img src="/images/products/c-13276.png" alt="C-13276 Cone-Lok"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/c-13276/">C-13276 Cone-Lok</a></h4>
          <p>Bit Holders</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb ripper-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/838/"><img src="/images/products/838.png" alt="838"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/838/">838</a></h4>
          <p>Ripper Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/da-5504-h/"><img src="/images/products/da-5504-h.png" alt="DA-5504-H"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/da-5504-h/">DA-5504-H</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/da-5504-t/"><img src="/images/products/da-5504-t.png" alt="DA-5504-T"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/da-5504-t/">DA-5504-T</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/lc-5154-48-b/"><img src="/images/products/lc-5154-48-b.png" alt="LC-5154-48-B"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/lc-5154-48-b/">LC-5154-48-B</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb cutter-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/7347-a/"><img src="/images/products/7347-a.png" alt="7347-A"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/7347-a/">7347-A</a></h4>
          <p>Cutter Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb cutter-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/7347-d/"><img src="/images/products/7347-d.png" alt="7347-D"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/7347-d/">7347-D</a></h4>
          <p>Cutter Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb sprockets">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/7347-sprockets/"><img src="/images/products/7347-sprockets.png" alt="7347 12/13-tooth Sprockets"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/7347-sprockets/">7347 12/13-tooth Sprockets</a></h4>
          <p>Sprockets</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb crawler-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/cc-416/"><img src="/images/products/cc-416.png" alt="cc-416"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/cc-416/">CC-416</a></h4>
          <p>Crawler Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb conveyor-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/lc-525-35/"><img src="/images/products/lc-525-35.png" alt="LC-525-35"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/lc-525-35/">LC-525-35</a></h4>
          <p>Conveyor Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb trim-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/5274/"><img src="/images/products/5274.png" alt="5274"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/5274/">5274</a></h4>
          <p>Trim Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb bit-holders">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/c-14172/"><img src="/images/products/c-14172.png" alt="C-14172"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/c-14172/">C-14172</a></h4>
          <p>Bit Holders</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb bit-holders">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/c-15081/"><img src="/images/products/c-15081.png" alt="C-15081"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/c-15081/">C-15081</a></h4>
          <p>Bit Holders</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb guides">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/various-guides/"><img src="/images/products/various-guides.png" alt="Various Guides"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/various-guides/">Various Guides</a></h4>
          <p>Guides</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb cutter-bars">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/dwg1/"><img src="/images/products/dwg1.png" alt="Dwg1"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/dwg1/">Dwg1</a></h4>
          <p>Cutter Bars</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb cutter-bars">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/dwg2/"><img src="/images/products/dwg2.png" alt="Dwg2"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/dwg2/">Dwg2</a></h4>
          <p>Cutter Bars</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb cutter-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/dwg3/"><img src="/images/products/dwg3.png" alt="Dwg3"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/dwg3/">Dwg3</a></h4>
          <p>Cutter Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->

  <li class="item thumb cutter-chains">
    <figure>

      <div class="icon-overlay icn-link">
        <a href="/products/dwg4/"><img src="/images/products/dwg4.png" alt="Dwg4"></a>
      </div><!-- /.icon-overlay -->

      <figcaption class="bordered no-top-border">
        <div class="info">
          <h4><a href="/products/dwg4/">Dwg4</a></h4>
          <p>Cutter Chains</p>
        </div><!-- /.info -->
      </figcaption>

    </figure>
  </li><!-- /.item -->
</ul><!-- /.items -->
