<!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->

<section id="who-we-are">
  <div class="container">
    <div class="row inner-top-xs">

      <div class="col-xs-12 col-sm-6 col-md-4 inner-bottom-xs">
        <h3>Bookcliff Sales, Inc. (Utah)</h3>
        <ul class="contacts">
          <li><i class="icon-location contact"></i><p> 42 South Carbon Ave.<br>Price, UT 84501</p></li>
          <li><i class="icon-mobile contact"></i> 413-637-1110</li>
          <li><a href="bookcliffsales.com"><i class="icon-network contact"></i> bookcliffsales.com</a></li>
        </ul><!-- /.contacts -->

        <h3>Bookcliff Sales, Inc (Wyoming)</h3>
        <ul class="contacts">
          <li><i class="icon-location contact"></i><p> 2028 Sunset Drive<br>Roscksprings, WY 82901</p></li>
          <li><i class="icon-mobile contact"></i> 307-362-1917</li>
          <li><a href="bookcliffsales.com"><i class="icon-network contact"></i> bookcliffsales.com</a></li>
        </ul><!-- /.contacts -->

        <h3>Champion Mine Supply, Inc</h3>
        <ul class="contacts">
          <li><i class="icon-location contact"></i><p> 223 Pritts Distillery Road<br>Champion, PA 15622</p></li>
          <li><i class="icon-mobile contact"></i> 724-455-2902</li>
          <li><a href="championminesupply.com"><i class="icon-network contact"></i> championminesupply.com</a></li>
        </ul><!-- /.contacts -->

        <h3>Cincinnati Mine AU</h3>
        <ul class="contacts">
          <li><i class="icon-location contact"></i><p> 5 Mary Ct.<br>Cashmere, OLD 4500<br>Australia</p></li>
          <li><i class="icon-mobile contact"></i> 011-07-32-986-585</li>
        </ul><!-- /.contacts -->
      </div><!-- /.col -->

      <div class="col-xs-12 col-sm-6 col-md-4 inner-bottom-xs">
        <h3>Cincinnati Mine WV</h3>
        <ul class="contacts">
          <li><i class="icon-location contact"></i><p> Route 10<br>Chapmanville, WV 25508</p></li>
          <li><i class="icon-mobile contact"></i> 304-855-2836</li>
        </ul><!-- /.contacts -->

        <h3>Cincinnati Mine SA (Cincinnati Chain and Supply)</h3>
        <ul class="contacts">
          <li><i class="icon-location contact"></i><p> 9 Van Rensburg St. Ext 56<br>Witbank, 1035<br>South Africa</p></li>
          <li><i class="icon-mobile contact"></i> 013-6927190/5332</li>
          <li><a href="http://www.cincinnatisa.co.za/"><i class="icon-network contact"></i> cincinnatisa.co.za</a></li>
        </ul><!-- /.contacts -->

        <h3>Sumiton Mine Supply</h3>
        <ul class="contacts">
          <li><i class="icon-location contact"></i><p> 80 Burton Rd.<br>Sumiton, AL 35148</p></li>
          <li><i class="icon-mobile contact"></i> 205-648-3259</li>
        </ul><!-- /.contacts -->

        <h3>Woodruff Supply Co.</h3>
        <ul class="contacts">
          <li><i class="icon-location contact"></i><p> 638 Lincoln Ave.<br>Madisonville, KY 42431</p></li>
          <li><i class="icon-mobile contact"></i> 270-825-0269</li>
          <li><a href="woodruffsupply.biz"><i class="icon-network contact"></i> woodruffsupply.biz</a></li>
        </ul><!-- /.contacts -->
      </div><!-- /.col -->

      <div class="col-xs-12 col-sm-6 col-md-4 inner-bottom-xs">
        <h3>Parts Service and Supply</h3>
        <ul class="contacts">
          <li><i class="icon-location contact"></i><p> 4247 FM 1021<br>El Indio Hwy.<br>Eagle Pass, TX 78852</p></li>
          <li><i class="icon-mobile contact"></i> 830-773-0311</li>
          <li><a href="partservice.com"><i class="icon-network contact"></i> partservice.com</a></li>
        </ul><!-- /.contacts -->

        <h3>Bit Service Co. LTD.</h3>
        <ul class="contacts">
          <li><i class="icon-location contact"></i><p> 702-46th St. East, Saskatoon<br>Saskatchewan S7K 0W9 Canada</p></li>
          <li><i class="icon-mobile contact"></i> 302-653-0988</li>
        </ul><!-- /.contacts -->

        <h3>Bit Service Co. LTD.</h3>
        <ul class="contacts">
          <li><i class="icon-location contact"></i><p> 808 Gonczy Ave., Esterhazy<br>Saskatchewan S0A 0X0 Canada</p></li>
          <li><i class="icon-mobile contact"></i> 306-745-2233</li>
        </ul><!-- /.contacts -->
      </div><!-- /.col -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</section>
